.cards-size-audio{
    width: 100%;
    border-radius: 5px;
    position: relative;
    background-color: #F1F3F4;
    border-bottom: 3px solid goldenrod;
}

.title-audio{
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;
}

.img-size-audio{
     height: 300px;
     width: 100%;
}

.cards-size-audio audio{
    outline: none;
}

.audio-div{
    display: flex;
    justify-content: right;
}

