.listhead{
    background-color: #848b79;
    padding: 10px;
    border-radius: 8px;
}
.sublist{
    border: 1px solid #008080;
    border-radius: 5px;
    margin-top: 5px;
}
.ul{
    list-style: none;
}